.page-footer  {
  background-color: $color-primary;
  .section-footer-top {
    @include justify-between-align-center;
    padding: 3rem auto;
  }
  .section-footer-bottom {
    @include justify-center-align-center;
    height: 3.5rem;
    color: $color-white;
    border-top: 1px solid $color-white;
  }
}
.footer-top-content {
  @include align-start;
  padding: 3rem 0;
    .footer-logo {
      width: 42px;
      height: 36px;
      margin-right: 20px;
    }
    .about-us-description {
      .description-content {
        @include font-size-weight($font-size-s,400);
        color: $color-white;
    }
  }
}
.social-network {
  margin: 3rem 0;
  width: 12.75rem;
  .list-group {
    @include justify-between-align-center;
  }
}
.shop-detail {
  @include align-start;
  .list-item {
    @include align-start;
    flex: 1;
    flex-direction: column;
    .list-group {
      @include align-start;
      @include font-size-weight($font-size-s,400);
      flex-direction: column;
      color: $color-white;
    }
  }
  .shop-detail-title {
    @extend .shop-detail-content;
    font-size: $font-size-m;
  }
  .shop-detail-content {
    color: $color-white;
    line-height: 2.5rem;
  }
}

.footer-logo .logo-link{
  color:#ffffff;
}
.footer-logo .logo {
  margin-right:  1rem;
  height:3rem;
}




@media (min-width:1200px) {
  .shop-detail {
    flex-direction: row;
  }
}
