.page-header {
  @include font-size-weight($font-size-xl,700);
  width: 100%;
  height: 3rem;
  position: absolute;
  z-index: 100;
  top: 3rem;
}
.header-logo {
  @include align-center;
  .logo {
    margin-right:  1rem;
  }
}
.logo-link {
  @include font-size-weight($font-size-xl,700);
  font-family: Helvetica, sans-serif;
}
.nav-link {
  @include justify-between-align-center;
  @include font-size-weight($font-size-xl,700);
  color: $color-primary;
  white-space: nowrap;
}
.logo-link{
  @extend .nav-link
}