.page-header {
  @include font-size-weight($font-size-xl, 700);
  width: 100%;
  height: 3rem;
  position: absolute;
  z-index: 100;
  top: 3rem;
}
.header-logo {
  @include align-center;
  .logo {
    margin-right: 1rem;
    height: 3rem;
  }
}
.logo-link {
  @include font-size-weight($font-size-xl, 700);
  font-family: Helvetica, sans-serif;
}
.nav-link {
  @include justify-between-align-center;
  @include font-size-weight($font-size-xl, 700);
  color: $color-primary;
  white-space: nowrap;
}
nav {
  display: none;
}
.logo-link {
  @extend .nav-link;
}

@media screen and (min-width: 1200px) {
  .page-header {
    background-color: transparent;
    top: 3rem;
  }
  .page-header nav {
    display: block;
  }
  .shop-detail {
    flex-direction: row;
  }
  .logo-link {
    color: #ffffff;
  }
}
