@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.btn {
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.btn-primary {
  border: none;
  background-color: #f5ab1e;
  border: 2px solid #f5ab1e;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
}

.card-image {
  overflow: hidden;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image a {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-item {
  height: 220px;
  background-clip: padding-box;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: 0.3s;
}

.collection-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.collection-item:hover .collection-image {
  height: 110%;
  transition: 0.4s;
}

.collection-item-content {
  position: absolute;
  width: 40%;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  text-align: right;
}

.collection-item-description {
  font-size: 18px;
  font-weight: bold;
}

.collection-item-link {
  font-weight: bold;
  font-size: 14px;
  color: #f5ab1e;
}

.section-product .product-cart .card-title:hover {
  color: #f5ab1e;
  transition: 0.3s;
}

.section-product .product-cart .card-title {
  font-size: 14px;
  font-weight: normal;
  transition: 0.3s;
}

.section-category .card-title:hover {
  color: #f5ab1e;
  text-decoration: underline;
  transition: 0.3s;
}

.section-category .card-title {
  font-weight: 500;
  transition: 0.3s;
}

.section-category .card-body {
  text-align: center;
}

.collection-item-title {
  font-weight: normal;
  font-size: 14px;
  color: gray;
}

.get-coupon-form input {
  display: flex;
  flex: 1;
  height: 100%;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 16px;
  text-indent: 1rem;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: -4px;
  flex-wrap: wrap;
}
.row [class*=col-] {
  padding: 0 4px;
}
.row [class*=col-] .col {
  display: flex;
  flex: 1;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  .container {
    max-width: 1200px;
    padding: 0 0.625rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px;
    flex-wrap: wrap;
  }
  .row [class*=col-] {
    padding: 0 10px;
  }
  .row .col {
    display: flex;
    flex: 1;
  }

  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
.section-footer-top {
  height: 530px;
  padding: 80px 0;
  background: url("../asset/footer_background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid #c2c2c2;
}

.get-coupon-form {
  height: 120px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.get-coupon-form form {
  width: 100%;
  display: flex;
}

.footer-infomation {
  padding-top: 30px;
  margin-top: 30px;
  line-height: 1.5rem;
  border-top: 1px solid #c2c2c2;
}

.footer-infomation p {
  font-size: 14px;
}

.footer-infomation .list-group .list-item h3 {
  font-size: 16px;
  font-weight: bold;
  color: #f5ab1e;
  margin-bottom: 10px;
}

.footer-infomation .list-group .list-item .list-group .list-item a {
  font-size: 14px;
  display: block;
  font-weight: normal;
  color: black;
  padding: 5px 0;
}

.section-footer-bottom {
  height: 60px;
  background-color: #f5ab1e;
  color: white;
  font-size: 12px;
  border-bottom: 5px solid white;
}

.section-footer-bottom ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-social a {
  font-size: 32px;
  padding: 0 2px;
  color: white;
}

.list-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@-webkit-keyframes blinking-animation {
  from {
    color: black;
  }
  to {
    color: #f5ab1e;
  }
}
.blinking-text {
  animation: blinking-animation 0.7s infinite;
  font-weight: 600;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}

.header-top-left {
  font-size: 14px;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 15px;
}

.header-top-right > .list-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 150px;
}

.header-top-right .list-group .list-item {
  width: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-top-right > .list-group > .list-item > .list-group {
  flex-direction: column;
  align-items: start;
  width: 200%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 200%;
  left: 0;
  background-color: white;
  padding: 10px;
}

.header-top-right .list-groupli:hover .list-group {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.header-top-right .list-group.list-item .list-group.list-item {
  flex-direction: row;
}

.header-bottom {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  height: 80px;
  align-items: center;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 100px;
}

.navigation .list-group {
  display: flex;
  justify-content: space-between;
  width: 620px;
}

.navigation .list-group .list-item {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.navigation .list-group .list-item .list-group {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation .list-groupli:hover > .list-group {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.user-options .list-group {
  display: flex;
  width: 150px;
  justify-content: space-between;
  font-size: 32px;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.carousel-item {
  width: 100vw;
  height: 800px;
  position: relative;
}

.carousel-inner:first-child {
  background: url("../asset/top_banner_3.jpg") no-repeat;
  transform: translate3d(0, 0, 0);
  background-position: center;
  background-size: cover;
}

.carousel-item-content {
  position: absolute;
  width: 30%;
  z-index: 100;
  top: 35%;
  left: 0;
}

.carousel-inner:nth-child(2) {
  background: url("../asset/top_banner_2.jpg") no-repeat;
  transform: translate3d(100vw, 0, 0);
  background-position: center;
  background-size: cover;
}

.carousel-inner:nth-child(3) {
  background: url("../asset/top_banner_3.jpg") no-repeat;
  transform: translate3d(200vw, 0, 0);
  background-position: center;
  background-size: cover;
}

.carousel-item-content h2 {
  font-size: 60px;
  line-height: 54px;
  font-weight: 600;
}

.carousel-item-content h3 {
  font-size: 36px;
  font-weight: 400;
  display: inline-block;
  line-height: 64px;
}

.carousel-item-content a {
  display: inline-block;
  line-height: 24px;
  font-weight: 600;
  border-bottom: 2px solid #f5ab1e;
}

.section-collection {
  height: 220px;
  overflow: hidden;
  margin-top: 80px;
}

.section-collection img {
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  transition: 0.4s;
}

.section-benefit {
  margin-top: 80px;
}

.section-benefit ul {
  width: 100%;
  display: flex;
}

.section-benefit ul li {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px dashed gray;
}

.benefit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-right: 20px;
  font-size: 36px;
  transition: 0.5s;
}

.section-benefit ul li:hover > .benefit-icon {
  color: #f5ab1e;
  transform: rotateY(180deg);
  transition: 0.5s;
}

.section-benefit ul li h4,
.section-benefit ul li p {
  font-weight: normal;
  font-size: 18px;
}

.section-benefit ul li p {
  color: gray;
  font-weight: normal;
  font-size: 14px;
}

.section-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border:1px solid black; */
}

.section-category {
  margin-top: 40px;
}

.section-category img {
  border-radius: 50%;
}

.quantity-in-stock {
  font-size: 14px;
  color: #f5ab1e;
}

.section-product {
  margin-top: 80px;
}

.section-product .section-header ul {
  display: flex;
  align-items: center;
}

.section-product .section-header ul li {
  margin-right: 10px;
  font-size: 14px;
}

.product-cart {
  width: 270px;
  margin-right: 30px;
  height: 400px;
  position: relative;
}

.product-cart img {
  width: 100%;
  height: 75%;
}

.product-slide {
  overflow: hidden;
}

.product-slide > ul {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.customer-option {
  display: flex;
  width: 100%;
  position: absolute;
  top: 60%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.customer-option li {
  display: flex;
  cursor: pointer;
  margin: 0 -20px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  transition: 0.5s;
  background-color: white;
  visibility: hidden;
  opacity: 0;
}

.product-cart:hover > .customer-option li {
  margin: 0 20px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.section-product .product-cart .product-price {
  font-size: 18px;
  font-weight: 600;
}

.section-sale-off {
  height: 450px;
  background: url("../asset/middle_banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.sale-off-content {
  position: relative;
  height: 50%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sale-off-content h3 {
  font-size: 16px;
  font-weight: 400;
  display: block;
}

.sale-off-content p {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 700;
}

.section-featured-products {
  margin-top: 80px;
}

.featured-product-slide ul {
  display: flex;
}

.section-recent-news ul {
  display: flex;
}

.news-option,
.news-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-activity {
  background-color: #f5ab1e;
  height: 35px;
  color: white;
  padding: 0 10px;
  font-size: 14px;
}

.news-option a {
  font-weight: bold;
  color: #f5ab1e;
}

.news-title {
  font-size: 16px;
  text-transform: capitalize;
}

.news-description {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.news-content {
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.view-more {
  margin: 40px auto;
}

/*# sourceMappingURL=style.css.map */
