html{
width:100vw;
font-family:"Poppins",sans-serif;
font-size:16px;
}
::-webkit-scrollbar{display:none;}
body{position:relative;}
footer{background-color:#fbb03b;}
header{
width:100%;
height:3rem;
position:absolute;
z-index:100;
top:3rem;
font-weight:700;
font-size:1.25rem;
}
a{text-decoration:none;}
h3{
font-size:2rem;
font-weight:300;
color:#333333;
}
input{
height:3rem;
padding:1rem;
border-radius:1.5rem;
border:none;
outline:none;
text-indent:1rem;
}
*{
margin:0;
padding:0;
box-sizing:border-box;
}
.text-primary{color:#fbb03b;}
.text-danger{color:#ff0000;}
.text-dark{color:#333333;}
.text-gray{color:#a8a8a8;}
.container{
height:100%;
width:100%;
max-width:1170px;
margin: 0 auto;
padding:0 10px;
}
.row{
margin:0-.625rem;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}
.row [class*="col"]{
padding:.625rem;
}
.col{
display:flex;
flex:1;
}
.col-2{
width:16.667%;
}
.col-3{
width:25%;
}
.col-4{
width:33.333%;
}
.col-6{
width:50%;
}
.btn{
height:3rem;
padding:.875rem;
border-radius:1.5rem;
border:none;
font-size:.75rem;
font-weight:800;
text-transform:uppercase;
}
.btn-outline{
border:1px solid #c4c4c4;
}
.btn-primary{
background-color:#fbb03b;
}
.badge{
position:absolute;
height:2rem;
width:4rem;
padding:.5rem;
text-align:center;
border-radius:1rem;
border:none;
font-size:.75rem;
color:#ffffff;
font-weight:600;
}
.badge-danger{
background-color:#ff0000;
}
.section-header{
margin-bottom:2rem;
display:flex;
justify-content:center;
}
.section-suggestions .section-header{
justify-content:space-between;
}
.section-suggestions{
margin-top:6rem;
}
.list-group{
list-style-type:none;
display:flex;
align-items:center;
justify-content:space-between;
}
.list-item{
display:flex;
list-style-type:none;
align-items:center;
overflow:hidden;
}
.header-logo a,
.navigation a
{
display:flex;
align-items:center;
justify-content:space-between;
font-weight:700;
color:#fbb03b;
font-size:1.25rem;
white-space:nowrap;
}
.header-logo img{
width:3.5rem;
height:2.5rem;
margin-right:10px;
}
.header-logo a{
color:#ffffff;
}
.section-top-banner{
height:100vh;
position:relative;
background-image:url(asset/images/top_banner_background.png);
background-repeat:no-repeat;
background-size:100% auto;
object-fit:cover;
}
.section-top-banner .container{
position:relative;
}
.section-top-banner::before{
width:100%;
height:100%;
position:absolute;
top:0;
z-index:0;
background-color:rgba(0,0,0,.7);
content:"";
}
.banner-content{
z-index:100;
width:40%;
position:absolute;
top:30%;
left:15%;
display:flex;
flex-direction:column;
justify-content:space-between;
}
.top-banner-title{
color:#ffffff;
font-size:4.5rem;
line-height:4.5rem;
}
.banner-link{
color:#ffffff;
text-decoration:underline;
font-size:1.5rem;
display:flex;
align-items:center;
padding-top:1rem;
}
.banner-link span{
width:2.25rem;
height:2.25rem;
text-align:center;
margin-right:1rem;
background-color:#fbb03b;
border-radius:50%;
}
.services{
width:75%;
background-color:#ffffff;
border-radius:0 70px 0 0;
padding-left:15%;
position:absolute;
z-index:0;
bottom:0;
left:0;
}
.list-services{
width:780px;
display:flex;
align-items:flex-start;
margin-right:2.5rem;
}
.list-services li{
display:flex;
min-width:220px;
padding:1.5rem 3rem 0 0;
}
.service-card h4{font-size:.875rem;}
.service-card p{font-size:.75rem;}
.service-card img{
width:2.25rem;
height:2.25rem;
padding:.625rem;
border-radius:.5rem;
background-color:#fff3df;
}
.section-collection{
margin:3rem auto;
position:relative;
}
.collection-card{
display:flex;
overflow:hidden;
position:relative;
}
.collection-card::after{
width:100%;
height:100%;
position:absolute;
z-index:0;
background-color:rgba(0,0,0,.7);
content:"";
}
.card-info{
width:70%;
height:40%;
position:absolute;
bottom:20%;
left:10%;
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:flex-start;
z-index:1;
}
.card-info h4,
.card-info p{
font-size:1.5rem;
color:#ffffff;
font-weight:400;
}
.collection-card .badge{
top:20%;
left:10%;
z-index:2;
}
.card-price{
display:flex;
justify-content:space-between;
}
.card{
width:100%;
}
.product-card{
position:relative;
}
.product-card .badge{
top:5%;
left:10%;
}
.section-introduct{
margin:3rem 0;
}
.section-introduct .section-header{
margin:3rem auto;
}
.section-introduct .list-group{
align-items:flex-start;
padding-bottom:2rem;
}
.section-introduct .product-card{
padding:01rem;
flex-direction:column;
}
.section-introduct img{
width:4.25rem;
height:4.25rem;
padding:1rem;
margin-bottom:3rem;
}
.section-introduct h4{
font-size:16px;
}
.section-introduct p{
font-size:14px;
}
.section-today-suggestions{
margin-bottom:3rem;
}
.section-bottom-banner{
height:240px;
background-image:url(asset/images/bottom_banner_background.png);
position:relative;
}
.section-bottom-banner::before{
width:100%;
height:100%;
position:absolute;
content:"";
z-index:0;
background-color:rgba(0,0,0,.7);
}
.section-bottom-banner .container{
display:flex;
flex-direction:column;
justify-content:center;
}
.section-bottom-banner h4{
font-size:1.5rem;
font-weight:400;
color:#ffffff;
z-index:1;
}
.section-bottom-banner input{
display:flex;
flex:2;
margin-right:2.5rem;
z-index:1;
}
.section-bottom-banner button{
display:flex;
flex:1;
justify-content:center;
z-index:1;
}
.section-footer-top{
display:flex;
justify-content:space-between;
padding-top:2.5rem;
}
.footer-logo a{
display:flex;
font-size:1.25rem;
font-weight:bold;
margin-bottom:24px;
}
.footer-logo h3{
font-family:Helvetica;
color:#ffffff;
}
.footer-logo img{
width:42px;
height:36px;
margin-right:20px;
}
.section-footer-top .row{
align-items:flex-start;
}
.about-us{
padding-right:20%;;
}
.about-us-detail h4{
font-size:14px;
color:#ffffff;
font-weight:400;
}
.social-network{
margin-top:58px;
width:12.75rem;
}
.social-network ul{
display:flex;
justify-content:space-between;
align-items:center;
}
.shop-detail{
align-items:flex-start;
}
.shop-detail li{
display:flex;
flex:1;
flex-direction:column;
align-items:flex-start;
}
.shop-detail li ul{
display:flex;
flex-direction:column;
align-items:flex-start;
font-size:1rem;
color:#ffffff;
}
.shop-detail h4,
.shop-detail p,
.shop-detail a
{
color:#ffffff;
line-height:2.5rem;
}
.shop-detail p,
.shop-detail a
{
font-size:.875rem;
}
.shop-detail h4{
font-size:1rem;
}
.section-footer-bottom{
height:3.5rem;
color:#ffffff;
border-top:1px solid#ffffff;
display:flex;
justify-content:center;
align-items:center;
}