* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins",sans-serif;
  font-size: 10px;
}
::-webkit-scrollbar {
  display: none;
}
body {
  position: relative;
  font-size: .875rem;
}
h3 {
  font-size: 2rem;
  font-weight: 300;
  color: #333333;
}
a {
  text-decoration: none;
}
img{
  width:100%;
}
.input-email {
  height: 3rem;
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  text-indent: 1rem;
}
.text-primary {
  color: #fbb03b;
}
.price {
  color: #333333;
  font-weight: 400;
  font-size: 1.25rem;
}
.price-initial {
  color: #cecece;
}
.price-sale-off {
  color: #ff0000;
}
.page-footer {
  background-color: #fbb03b;
}
.btn {
  height: 3rem;
  padding: .875rem;
  border-radius: 1.5rem;
  border: none;
  font-size: .875rem;
  font-weight: 800;
  text-transform: uppercase;
}
.btn.btn-outline {
  border: 1px solid#c4c4c4;
  background-color: transparent;
}
.btn.btn-primary {
  background-color: #fbb03b;
}
.list-group {
  list-style-type: none;
  display: flex;
  overflow: hidden;
  align-items:center;
  justify-content: space-between;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.section-header {
  font-weight: 300;
  font-size: 2rem;
  color: #333333;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.page-header nav{
  display: none;
}
.card {
  width: 100%;
  position: relative;
}
.collection-card {
  display: flex;
  justify-content: center;
}
.collection-card .badge {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 2;
}
.collection-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, .5);
}
.card .card-title {
  color: #333333;
  font-weight: 300;
  font-size: 1rem;
}
.card .card-info {
  width: 70%;
  height: 40%;
  position: absolute;
  bottom: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}
.service-card img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: .5rem;
  background-color: #fff3df;
}
.badge {
  height: 2rem;
  width: 4rem;
  padding: .5rem;
  text-align: center;
  border-radius: 1rem;
  border: none;
  font-size: .75rem;
  color: #ffffff;
  font-weight: 600;
}
.badge.badge-danger {
  background-color: #ff0000;
}
.page-header {
  width: 100%;
  height: 3rem;
  position: absolute;
  background-color: #ffffff;
  z-index: 100;
  top: 0;
  font-weight: 700;
  font-size: 1.25rem;
}
.header-logo .logo {
  margin-right:  1rem;
  height:3rem;
}
.logo-link {
  font-size: 1.25rem;
  font-weight: bold;
  color:#000000;
}
.footer-logo .logo-link{
  color:#ffffff;
}
.footer-logo .logo {
  margin-right:  1rem;
  height:3rem;
}
.nav-link{
  color: #fbb03b;
}
.logo-link,
.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.25rem;
  white-space: nowrap;
}
.shop-name {
  font-family: Helvetica;
  margin-left: 1rem;
}
.section-suggestions .card-price,
.section-today-suggestions .card-price {
  display: flex;
  justify-content: space-between;
}
.section-suggestions .section-header {
  justify-content:  space-between;
}
.section-suggestions {
  margin-top: 6rem;
}
.section-top-banner {
  height: 100vh;
  position: relative;
  background: url(asset/images/mobile_top_banner_background.png) no-repeat;
  background-size: 100% auto;
  object-fit: cover;
}
.section-top-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, .5);
}
.banner-content {
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-banner-title {
  color: #ffffff;
  font-size: 4.5rem;
  line-height: 4.5rem;
  width:100%;
}
.banner-link {
  color: #ffffff;
  text-decoration: underline;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.banner-link .arrow-icon {
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  margin-right: 1rem;
  background-color: #fbb03b;
  border-radius: 50%;
}
.services {
  display:none;
  width:80%;
  background-color: #ffffff;
  border-radius: 0 70px 0 0;
  padding-left: 30%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -154px;
}
.list-services {
  display: flex;
  align-items: flex-start;
  margin-right: 2.5rem;
}
.list-services .list-item {
  display: flex;
  flex: 1;
  margin: 1.5rem 2rem 0 0;
}
.section-collection {
  margin: 3rem auto;
}
.section-introduct {
  margin: 3rem 0;
  background-color: #f6f6f6;
}
.section-introduct .section-header {
  padding-top: 3rem;
}
.section-introduct .list-group {
  align-items: flex-start;
  padding-bottom: 2rem;
}
.section-introduct .product-card {
  padding: 1rem;
  flex-direction: column;
}
.product-card .badge {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
}
.section-introduct img {
  width: 4.25rem;
  height: 4.25rem;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.section-today-suggestions {
  margin-bottom: 3rem;
}
.section-bottom-banner {
  height: 240px;
  background: url(asset/images/bottom_banner_background.png) no-repeat;
  position: relative;
}
.section-bottom-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, .5);
}
.section-bottom-banner .bottom-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-banner-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
}
.bottom-banner-content {
  height:100%;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  z-index: 1;
}
.subscribe-form{
  height:50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  align-items: flex-start;
}
.section-footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  width: 42px;
  height: 36px;
  margin-right: 20px;
}
.footer-top-content {
  align-items: flex-start;
  margin: 3rem 0;
}
.about-us-description {
  padding-top: 1rem;
}
.description-content {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.social-network {
  margin: 3rem 0;
  width: 12.75rem;
}
.social-network .list-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-detail {
  align-items: flex-start;
  flex-direction: column;
}
.shop-detail .list-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.shop-detail .list-item .list-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  color: #ffffff;
}

.shop-detail-content {
  color: #ffffff;
  line-height: 2.5rem;
  font-weight: 300;
}
.shop-detail-title {
  font-size: 1rem;
  color: #ffffff;
}
.section-footer-bottom {
  height: 3.5rem;
  color: #ffffff;
  border-top: 1px solid#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-introduct .card-title {
  font-weight: 700;
  font-size:  1rem;
}
.introduct-card .card-description {
  color: #808080;
  font-weight: 400;
}
.product-card .card-description {
  color: #808080;
  font-weight: 400;
}
.section-collection .card-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
}
.service-card .card-description  {
  font-size: .75rem;
  font-weight: 400;
  color: #a8a8a8;
}
.service-card .card-title {
  font-weight: 700;
  color: #333333;
}
.container {
  width:100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.row {
  margin: 0 -.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.row [class*="col"] {
  padding: 0 .625rem;
}
.col {
  display: flex;
  flex: 1;
}
.col-1 {
  width: 8.333%;
}
.col-2 {
  width: 16.667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}
@media (min-width:1200px) {
  html {
    font-size: 16px;
  }
  .row [class*="col"] {
    padding: 0 .625rem;
  }
  .col-xl-2 {
    width: 16.667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-8 {
    width: 66.667%;
  }
  .container {
    max-width: 1170px;
  }
  .page-header{
    background-color: transparent;
    top:3rem;
  }
  .page-header nav {
    display: block;
  }
  .section-top-banner {
    background: url(asset/images/top_banner_background.png) no-repeat;
  }
  .services {
    display:block;
  }
  .shop-detail {
    flex-direction: row;
  }
  .subscribe-form{
    height:100%;
    flex-direction: row;
    align-items: center;
  }
  .banner-content {
    width:40%;
    top: 20%;
    left: 20%;
  }
  .logo-link{
    color:#ffffff;
  }
}
