$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Helvetica', sans-serif;

$color-black : #333333;
$color-primary : #fbb03b;
$color-red : #FF0000;
$color-white : #ffffff;
$color-gray : (
  "ab":#ababab,
  "80":#808080,
  "a8":#a8a8a8,
  "ce":#cecece,
  "c4":#c4c4c4,
  "f6":#f6f6f6,
  "ff":#fff3df,
);
$font-size-xxxxs: 0.5rem;
$font-size-xxxs: 0.625rem;
$font-size-xxs: 0.6875rem;
$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;
$font-size-xxxl: 2rem;
$font-size-xxxxl: 4.5rem;