$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Helvetica', sans-serif;

$color-black : #333333;
$color-primary : #fbb03b;
$color-red : #FF0000;
$color-white : #ffffff;
$color-gray : (
  "ab":#ababab,
  "80":#808080,
  "a8":#a8a8a8,
  "ce":#cecece,
  "c4":#c4c4c4,
  "f6":#f6f6f6,
  "ff":#fff3df,
);