.badge {
  height: 2rem;
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  border: none;
  font-size: 0.75rem;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
  &.badge-danger {
    background-color: #ff0000;
  }
}
