.badge {
  @include font-size-weight(map-get($font-size, "xs"), 600);
  position: absolute;
  z-index: 2;
  height: 2rem;
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  border: none;
  color: map-get($color, "white");
  &.badge-danger {
    background-color: map-get($color, "red");
  }
}
