.btn {
  height: 3rem;
  padding: 0.875rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
  &.btn-outline {
    border: 1px solid #c4c4c4;
  }
  &.btn-primary {
    background-color: #fbb03b;
  }
}
