.card {
  width: 100%;
  position: relative;
  &.collection-card {
    display: flex;
    overflow: hidden;
    position: relative;
    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0.7);
      content: "";
    }
  }
}
.card-info {
  width: 70%;
  height: 40%;
  position: absolute;
  bottom: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}
.card-info h4,
.card-info p {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 400;
}
.card-price {
  display: flex;
  justify-content: space-between;
}
.service-card h4 {
  font-size: 0.875rem;
}
.service-card p {
  font-size: 0.75rem;
}
.service-card img {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  background-color: #fff3df;
}
