.section-header {
  @include font-size-weight($font-size-xxxl,300);
  @include justify-center;
  color: $color-black;
  margin-bottom: 2rem;
}
.shop-name {
  font-family: Helvetica;
  color: $color-white;
  margin-left: 1rem;
}
.section-suggestions .card-price,
.section-today-suggestions .card-price{
  @include justify-between;
}
.section-suggestions .section-header {
  @include justify-between;
}
.section-suggestions {
  margin-top: 6rem;
}
.section-top-banner {
  height:100vh;
  position: relative;
  background: url(../asset/images/top_banner_background.png) no-repeat;
  background-size: 100% auto;
  object-fit: cover;
}
.section-top-banner {
  .top-banner {
    position: relative;
  }
  &::before {
    @include mask-gray;
  }
}
.banner-content {
  @include justify-between;
  width: 40%;
  position: absolute;
  top: 30%;
  left: 23%;
  margin-left: -154px;
  z-index: 100;
  flex-direction: column;
}
.top-banner-title {
  color:$color-white;
  font-size: 4.5rem;
  line-height: 4.5rem;
}
.banner-link {
  @include font-size-weight($font-size-xxl,400);
  @include align-center;
  color: $color-white;
  text-decoration: underline;
  padding-top: 1rem;
  .arrow-icon {
    width: 2.25rem;
    height: 2.25rem;
    text-align: center;
    margin-right: 1rem;
    background-color: $color-primary;
    border-radius: 50%;
  }
}
.services {
  width: 90%;
  max-width: 1110px;
  background-color: $color-white;
  border-radius: 0 70px 0 0;
  padding-left: 23%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -154px;
}
.list-services {
  @include align-start;
  margin-right: 2.5rem;
  .list-item {
    display: flex;
    flex:1;
    padding: 1rem 2rem 0 0;
  }
}
.section-collection {
  margin: 3rem auto;
  .badge {
    top: 30%;
    left: 10%;
  }
}
.section-introduct {
  margin: 3rem 0;
  background-color: map-get($color-gray, "f6" );
  .section-header {
    padding-top: 3rem;
  }
  .list-group {
    align-items: flex-start;
    padding-bottom: 2rem;
  }
  .product-card {
    padding: 01rem;
    flex-direction: column;
  }
  img {
    width: 4.25rem;
    height: 4.25rem;
    @include justify-center-align-center;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
  }
}
.product-card {
  .badge {
    top: 10%;
    left: 10%;
  }
}
.section-today-suggestions {
  margin-bottom: 3rem;
}
.section-bottom-banner {
  height: 240px;
  background: url(../asset/images/bottom_banner_background.png) no-repeat;
  position: relative;
  &::before {
    @include mask-gray;
  }
}
.section-bottom-banner{
  .bottom-banner {
    @include justify-center;
    flex-direction: column;
  }
}
.bottom-banner-title {
  @include font-size-weight($font-size-xxl,400);
  color: $color-white;
  z-index: 1;
}
.subscribe-form input {
  display: flex;
  flex: 2;
  margin-right: 2.5rem;
  z-index: 1;
}
.section-bottom-banner{
  .btn {
    @include align-center;
    flex: 1;
    z-index: 1;
  }
}
.section-introduct{
  .card-title{
    @include font-size-weight($font-size-xxl,700);
  }
}
.introduct-description {
  color: map-get($color-gray, "80" );
  font-weight: 400;
}
.section-collection{
  .card-title{
    color: $color-white;
    @include font-size-weight($font-size-xxl,400);
  }
}
.service-description {
  @include font-size-weight($font-size-xs,400);
  color:map-get($color-gray, "a8");
}
.service-card {
  .card-title {
    font-weight: 700;
    color: black;
  }
}
