* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  width: 800px;
  text-align: center;
  margin: 50px auto;
  border: 3px solid #800000;
  font-family: Roboto, sans-serif;
  color: #3c3c3c;
}
form {
  width: 200px;
  margin: 50px auto;
}
#plans {
  margin: 100px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#plans > li {
  width: 380px;
  height: 200px;
  border: 1px solid #cecece;
  border-radius: 5px;
  text-align: center;
}
.card-title,
.card-price {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  border-bottom: 1px solid #cecece;
  background-color: #f7f7f7;
}
.groupBenefit {
  font-size: 12px;
}
.btn{
  width: 90%;
  border-radius: 5px;
  border: none;
  height: 2rem;
  margin: 10px auto;
}
.btn.btn-secondary {
  border: 1px solid #157ffb;
  color: #157ffb;
  background-color: transparent;
}
.btn.btn-primary {
  color: #ffffff;
  background-color: #157ffb;
}
