.btn {
  padding: 10px 30px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.btn-primary {
  border: none;
  background-color: #f5ab1e;
  border: 2px solid #f5ab1e;
}
